.todo {
  cursor: pointer;
  background-color: #920003;
  color: #eee;
  padding: 20px;
  min-width: 200px;
  min-height: 75px;
  h2 {
    font-weight: 400;
    font-size: 20px;
  }
  transition: 0.3s all linear;
}

.todo.completed {
  text-decoration: line-through;
  opacity: 0.7;
  filter: blur(1px);
}
