.todo {
  background-color: darkred;
  color: #eee;
  padding: 20px;
  h2 {
    font-weight: 400;
    font-size: 20px;
  }
  transition: 1s filter linear;
}

.todo.completed {
  text-decoration: line-through;
  // opacity: 0.7;
  filter: blur(1px);
}
